body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: contents;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header{
    text-align: center;
    background-color: #d45353;
    color: #fff;
    padding-block: 30px;

    width: 100%;
    position: fixed;

}

.container{
    width: 50%;
    margin-top: 120px;

    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-left,
.logo-right {
  max-height: 70px; /* Adjust the maximum height as needed */
  position: absolute;
  top: 14%;
  left: 0;
}


.clock {
    position: absolute;
    right: 1%;
    top: 45%;
  }

.timer {
    position: absolute;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 100%;
    height: 8px;
  }

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.question {
    margin-bottom: 20px;
}

.option {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #2980b9;
}

#submit-btn {
   
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #2ecc71;
    color: #fff;
    border: 1px solid #2ecc71;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #27ae60;
}

.submitbutton{
    width: 100%;

}


button {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: #4070f4;
    border-radius: 6px;
    cursor: pointer;
  }
  button:hover {
    background-color: #265df2;
  }
  

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  section.active .show-modal {
    display: none;
  }
  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
  }
  section.active .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
  }
  
  section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-box__icon {
    width: 10%;
  }
  
  .modal-box__icon img {
    width: 100%;
  }
  
  .modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
  }
  .modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
  }
  .modal-box .buttons {
    margin-top: 25px;
  }
  .modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
  }
  