{% extends "base.html" %}
<!-- title -->
{% block title %}TMD Entrance Page write here for title{% endblock %}
<!--  -->

<!-- style  -->
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='first.css') }}" />

{% endblock %}
<!--  -->

<!--  -->
{% block content %}
<!-- start code here -->
<body>
  <div class="backgroundimg">
    <img
      src="{{ url_for('static', filename='img/fixedschoolimg.jpg') }}"
      alt=""
    />
  </div>
  <div class="banner">
    <div class="advertisement">
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='img/firstimg.jpg') }}"
          alt="School Entrance"
        />
      </div>
      <div class="container">
      <div class="container1">
        <h1>Welcome to Our School's Entrance and Quiz!</h1>
        
        <a href="/entrance">
          <button class="cta-button"><span></span>Enter</button>
        </a>
        
        <p></p>
      </div>
        <div class="aim">
        <h2>Our Aim</h2>
        <p>
          is to be able to provide you with enjoyable and elated moments <br />
        </p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
